/*---------------------Contact---------------------*/
.contact{
    background-color: rgba(41,41,41,255);
    color: whitesmoke;
    overflow: hidden;
}

.contact .main{
    width: 100%;
    height: 90%;
    padding: 8.3% 3% 5% 3%;
}

.contact .title{
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    font: 'IBM Plex Sans';
}

.contact .mail-content {
    width: 100%;
    padding: 2% 2% 2% 2%;
    height: 70%;
}
.contact .form-row{
    display: flex;
    justify-content: end;
}

.contact .mail-content .mail-form .body{
    padding: 1% 0% 0% 0%;
    width: 100%;
}

/*padding inside text area*/
.contact .mail-content .mail-form .body textarea{
    padding: 1% 1% 1% 1%;
    width: 100%;
}

.contact .mail-content button{
    width: 100%;
    display: block;
    border: none;
    color: rgba(247,72,78,255);
}
.contact .icons {
    margin-top: 1%;
    width: 100%;
    height: 11%;
    padding: 0.5% 0.5% 0.5% 1%;
    background-color: transparent;
}

.contact .icons .icons{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: left;
}

.contact .icons .icons a{
    display: flex;
    width: 20%;
    height: 100%;
    padding: 0% 2% 0% 2%;
    justify-content: left;
}

.contact .icons .icons img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 5% 0% 5% 0%;
    box-shadow:  6px 6px 12px #272727,
             -6px -6px 12px #2b2b2b;
             box-shadow:  5px 5px 10px #242424,
             -5px -5px 10px #2e2e2e;
}

.contact .credits{
    bottom: 1%;
    width: 100%;
    height: 5%;
    font-size: 14px;
}

.contact .credits .credits-title{
    color: rgba(247,72,78,255);
}
.contact .credits a{
    color: inherit;
}

/*change icon size for phone*/
@media only screen and (max-width: 1000px) {

    .contact .mail-content {
        display: flex;
        align-items: center;
    }
    .contact .icons .icons a{
        display: flex;
        width: 15%;
        height: 100%;
        justify-content: left;
    }
    .contact .icons .icons {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .contact .icons .icons img{
        width: 100%;
        height: 60%;
    }

    /*Glitch on phone, blue button*/
    .contact .mail-content button{
        background-color: white;
        color: rgba(247,72,78,255);
    }
}