@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat&display=swap');

.skills{
    background-color: rgba(41,41,41,255);
    color: whitesmoke;
}

.skills .container{
    padding: 5% 3% 5% 3%;
    width: 100%;
    height:100%;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    font: 'IBM Plex Sans';
}
.skills .row{
    padding: 2% 0% 2% 0%; 
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    font-size: 48px;
}

.skills .row img{  
    width: 10%;
    height: 100%;
}