@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat&display=swap');

.skills{
    background-color: rgba(41,41,41,255);
    color: whitesmoke;
}

.skills .container{
    padding: 4% 3% 5% 3%;
    width: 100%;
    height: 85%;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    font: 'IBM Plex Sans';
 
}
.skills .row{
    padding: 1% 0% 1% 0%; 
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    font-size: 48px;
}
.skills .row .ImgCard{
    padding: 0;
    display: flex;
    width: 12%;
    height: 97%;
}


.skills .cardInner{
    width: 95%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.skills .cardInner:hover{
    transform: rotateY(180deg); /*rotate back on hover*/
}

.skills .cardFace{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;  /*back (rotate) is hidden*/
    overflow: hidden;
    border-radius: 30px;
    box-shadow:  6px 6px 12px #272727,
             -6px -6px 12px #2b2b2b;
}
.skills .cardFront{
    display: flex;
}

.skills .cardFace img{
    width: 95%;
    height: 97%;
    padding: 5% 0 5% 0;
    background: rgb(41, 41, 41,255);    
}
.skills .cardBack{
    color: white;
    transform: rotateY(180deg); /*start rotated by 180 deg (back)*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
    text-align: center;
    font-size: 17px;
}


.skills .cardBack:hover{
    transform: rotateY(-180deg); /*rotate to front*/
}

@media only screen and (max-width: 1026px) {
    .skills .image{
        margin: 0;
    }
    .skills .row .ImgCard{
        width: 20%;
        height: 50%;
    }
    .skills .cardBack{
        font-size: 16px;
    }
    .skills .cardBack span{
        font-size: 12px;
    }
}