
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



body{
    font-family: Montserrat;
    position: relative;
}

/* Nav bar */

/*location of button*/
nav{
    position: inherit;
    padding-top: 25px;
    padding-left: 15px;
    color: rgba(247,72,78,255);
}
.btn{
    position: absolute;
    top: 18px;
    right: 25px;
    z-index: 3;
    display: flex;
    width: 20px;
    height: 18px;
    
}
/*size of the button lines*/
.btn span{
    position: absolute;
    display: flex;
    width: 18px;
    height: 2px;
    background: rgba(247,72,78,255);
    transition: .5s;
}

/*position of each line within the button space (distance from top and bottom of the height in .btn)*/
.btn span:nth-child(1){
    top: 30%;
}
.btn span:nth-child(2){
    top: 70%;
}

.btn.is-active span{
    background: rgba(247,72,78,255);
}

/*transformation to X*/
.btn.is-active span:nth-child(1){
    top: 50%;
    transform:  rotate(-45deg);
}
.btn.is-active span:nth-child(2){
    top: 50%;
    transform:  rotate(45deg);
}

/*menu details*/
.menu {
    background: rgb(0, 0, 0,0.60);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 100px;
    z-index: 1;
    transform: .5s;
    opacity: 0;
    visibility: hidden;
}

/*when active (clicked)*/
.menu.is-active{
    transition: .5s;
    opacity: 1;
    visibility: visible;
}

.menu.is-off{
    transform: .5s;
    opacity: 0;
    visibility: hidden;
}
.menu_list.is-active:after:active{
    opacity: 0;
    visibility: hidden;
}

.menu_list  {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.menu_list:not(:last-child){
    margin-bottom: 30px;
}

/*each menu item */
.menu_link  {
    position: relative;
    display: inline-flex;
    font-weight: bold;
    font-size: 48px;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}
.menu_link:hover{
    text-decoration: none;
    color: rgba(247,72,78,255);
}

/*hover underline*/
.menu_link:after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 5px;
    display: inline-flex;
    background: #c5e600;
    transition: .3s;
    outline-color: none;
}
.menu_link:hover:after{
    width: 100%;
}

/*--------------------Landing Section--------------------------*/
/* each section is exact one page */
section{
    height: 100vh;
}
.landing{
    background-color: rgba(41,41,41,255);
    color: whitesmoke!important;
    font-size: 48px;
}
.landing .container{
    text-align: center!important;
    align-items: center;
    justify-content: center!important;
    height: 100%;
    width: 100%;
}
.landing .container .title{
    height: 90%;    
    padding-top: 15%;
    padding-bottom: 15%;
}
.bounce{
    left: 50%;
    bottom: 2%;
    margin-top: -25px;
    margin-left: -25px;
    justify-content: center;   
}



/*---------------------About me---------------------*/
.about-me{
    /*e8ded1*/
    background-color: #f3f1f1;
}


/*---------------------Projects---------------------*/
.projects{
    background-color: rgba(41,41,41,255);
    color: whitesmoke;
}
.projects .container-fluid{
    /* padding: top right bottom left  */
    padding: 2% 4% 2% 4%;
    margin: 0%;
}


/*---------------------Contact---------------------*/
.contact{
    background-color: whitesmoke;
}